body {
    
    display: flex;
    align-items: center;
    justify-items: center;
    font-family: 'Arial', sans-serif;
    height: 100%;
    text-align: center;
    margin: 0;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


button {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    
}

.hidden {
    display: none;
}